@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light theme */
  :root {
    --color-primary: #22c55e;
    --color-primary-50: #edf8f1;
    --color-primary-100: #daf0e2;
    --color-primary-200: #b6e1c4;
    --color-primary-300: #91d2a7;
    --color-primary-400: #6dc389;
    --color-primary-450: #50c878;
    --color-primary-500: #48b46c;
    --color-primary-600: #3a9056;
    --color-primary-700: #2b6c41;
    --color-primary-800: #1d482b;
    --color-primary-900: #0e2416;

    --color-secondary: #3b82f6;
    --color-secondary-50: #eff6ff;
    --color-secondary-100: #d0edff;
    --color-secondary-200: #a3dcff;
    --color-secondary-300: #6cbcff;
    --color-secondary-400: #409cff;
    --color-secondary-500: #007bff;
    --color-secondary-600: #0062cc;
    --color-secondary-700: #004a99;
    --color-secondary-800: #003166;
    --color-secondary-900: #001933;

    --color-error-50: #fdecec;
    --color-error-100: #fac5c5;
    --color-error-200: #f8a9a9;
    --color-error-300: #f48282;
    --color-error-400: #ff4d4f;
    --color-error-500: #f5222d;
    --color-error-600: #cf1322;
    --color-error-700: #a8071a;
    --color-error-800: #820014;
    --color-error-900: #5c0011;

    --color-background-gradient-primary: linear-gradient(
      to right,
      #22c55e,
      #2fa3aa,
      #3593d0,
      #3b82f6
    );
    --color-background: #ffffff;
    --color-foreground: #edf2f7;

    --color-text-primary: #4c515b;
    --color-text-secondary: #6b7280;
    --color-text-error: var(--color-error-500);

    --color-border-100: 245, 245, 245;
    --color-border-200: 229, 229, 229;
    --color-border-300: 212, 212, 212;
    --color-border-400: 185, 185, 185;

    --color-border-primary: #c2d8fc;
    --color-border-secondary: #4c515b;
    --color-border-error: var(--color-error-400);

    --color-shadow-2xs: 0px 0px 1px rgba(23, 23, 23, 0.06),
      0px 1px 2px rgba(23, 23, 23, 0.14);
    --color-shadow-xs: 0px 1px 2px rgba(0, 0, 0, 0.16),
      0px 2px 4px rgba(16, 24, 40, 0.12);
    --color-shadow-sm: 0px 1px 4px rgba(0, 0, 0, 0.01),
      0px 4px 8px rgba(0, 0, 0, 0.12);
    --color-shadow-md: 0px 4px 8px rgba(0, 0, 0, 0.12),
      0px 6px 12px rgba(16, 24, 40, 0.12);
  }

  /* Dark theme */
  .dark {
    --color-primary: #4ade80;
    --color-primary-50: #052e16;
    --color-primary-100: #064e3b;
    --color-primary-200: #065f46;
    --color-primary-300: #047857;
    --color-primary-400: #059669;
    --color-primary-450: #10b981;
    --color-primary-500: #22c55e;
    --color-primary-600: #4ade80;
    --color-primary-700: #86efac;
    --color-primary-800: #bbf7d0;
    --color-primary-900: #dcfce7;

    --color-secondary: #60a5fa;
    --color-secondary-50: #082f49;
    --color-secondary-100: #0c4a6e;
    --color-secondary-200: #075985;
    --color-secondary-300: #0369a1;
    --color-secondary-400: #0284c7;
    --color-secondary-500: #3b82f6;
    --color-secondary-600: #60a5fa;
    --color-secondary-700: #93c5fd;
    --color-secondary-800: #bfdbfe;
    --color-secondary-900: #e0f2fe;

    --color-error-50: #450a0a;
    --color-error-100: #7f1d1d;
    --color-error-200: #991b1b;
    --color-error-300: #b91c1c;
    --color-error-400: #dc2626;
    --color-error-500: #ef4444;
    --color-error-600: #f87171;
    --color-error-700: #fca5a5;
    --color-error-800: #fecaca;
    --color-error-900: #fee2e2;

    --color-background-gradient-primary: linear-gradient(
      to right,
      #064e3b,
      #0c4a6e,
      #1e3a8a,
      #0f172a
    );
    --color-background: #0f172a;
    --color-foreground: #1e293b;

    --color-text-primary: #f1f5f9;
    --color-text-secondary: #cbd5e1;
    --color-text-error: var(--color-error-400);

    --color-border-100: 51, 65, 85;
    --color-border-200: 30, 41, 59;
    --color-border-300: 15, 23, 42;
    --color-border-400: 2, 6, 23;

    --color-border-primary: #3b82f6;
    --color-border-secondary: #64748b;
    --color-border-error: var(--color-error-400);

    --color-shadow-2xs: 0px 0px 1px rgba(0, 0, 0, 0.2);
    --color-shadow-xs: 0px 1px 2px rgba(0, 0, 0, 0.3);
    --color-shadow-sm: 0px 2px 4px rgba(0, 0, 0, 0.4);
    --color-shadow-md: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }
}

body {
  color: var(--color-text-primary);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
