@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@layer base {
  /* Default = Dark theme */
  :root {
    --color-primary: #091121;
    --color-secondary: #020817;

    --color-background: #0f172a;
    --color-foreground: #1e293b;
    --color-card: #212d46;
    --color-border: #334155;

    --color-text: #ffffff;
    --color-text-primary: #e2e8f0;
    --color-text-secondary: #cbd5e1;
    --color-text-muted: #94a3b8;

    --color-accent-blue: #1266ff;
    --color-success: #4ade80;
  }

  /* Light theme */
  .light {
    --color-primary: #091121;
    --color-secondary: #020817;

    --color-background: #ffffff;
    --color-foreground: #f8fafc;
    --color-card: #f1f5f9;
    --color-border: #e2e8f0;

    --color-text: #8d9bb0;
    --color-text-primary: #111827;
    --color-text-secondary: #4b5563;
    --color-text-muted: #6b7280;

    --color-accent-blue: #3b82f6;
    --color-success: #22c55e;
    --color-error: #ef4444;
  }
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 0.75rem; /* rounded-xl */
  padding: 1rem;
}

.section {
  text-align: center;
  padding: 100px 0;
}
.title {
  font-weight: 700;
  font-size: 30px;
}

.layout {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .section {
    padding-top: 70px;
  }
  .title {
    font-size: 25px;
  }
  .layout {
    width: 85%;
  }
}
@media (max-width: 480px) {
  .section {
    padding-top: 50px;
  }
  .title {
    font-size: 20px;
  }
  .layout {
    width: 95%;
  }
}
